@import url(general.css);
ol li {
    color: black;
}

.content {
    max-width: 950px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
}

.content img {
    width: 60%;
    height: auto;
}

.code-js {
    border-radius: 55px;
    text-align: left;
    font-size: 0.8rem;
}